<div class="chat-dashboard">
    <div class="left-chat-sidebar">
        <div class="chat-sidebar-head">
            <h3 class="head-name me-4">Messages</h3>
            <button type="button" class="btn btn-link btn-floating mx-1 edit-btn" (click)="openSetting()">
                <i class="fa fa-duotone fa-gear"></i>
            </button>
        </div>
        <div class="input-icons">
            <i class="fa fa-magnifying-glass icon"></i>
            <input type="text" placeholder="Search..." class="search-box input-field" />
        </div>
        <div class="sidebar-body">
            <!-- <div class="pin-message">
                <i class="fa fa-star"></i><b>Pinned</b>
                <div class="pinned-chat-list" *ngFor="let list of pinedchatList">
                    <img src="/frontend/src/assets/images/profile.jpg" alt="" class="img-pinned" />
                    {{list.name}}
                    {{list.time}}
                </div>
            </div> -->
            <div class="all-message">
                <div class="pinned-chat-list" *ngFor="let list of pinnedchatList">
                    <img src="/assets/images/profile.jpg" alt="" class="img-pinned" />
                    <span>
                        {{list.name}}
                    </span>
                    <span>
                        {{list.time}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-chat-setting" *ngIf="showSettings">
        <app-settings></app-settings>
    </div>
    <div class="right-chat-open" ngClass="{{showSettings ? 'chat-dashboard-w-50' : 'right-chat-50'}}">
        <app-chat-dashboard></app-chat-dashboard>
    </div>
</div>

