<div class="video-component">
    <div class="join-box p-4">
        <label for="" class="me-4">Meeting Id</label>
        <input type="text" name="meetingId" placeholder="Enter Meeting Id" required>
        <button type="button" class="btn btn-primary ms-3 btn-lg" (click)="joinMeeting()">Join</button>
    </div>
    <div class="meeting-screen-div">
        <div class="info-head">
            <div class="hosted-by">
                <img src="assets/images/profile.jpg" alt="">
                <span>Hosted By</span>
                <div class="name">
                    <b>Sumit Kurkure</b>
                </div>

            </div>
            <div class="participant">
                <div class="images">
                    <img src="assets/images/profile.jpg" alt="">
                    <img src="assets/images/profile.jpg" alt="">
                    <img src="assets/images/profile.jpg" alt="">
                </div>
                <div class="count">
                    +24
                </div>
            </div>
            <div class="invite">

            </div>
        </div>
        <div class="video-screen">

        </div>
        <div class="video-btn">

        </div>
    </div>
</div>