.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.nav>li{
    width: 20rem;
    text-align: center;
}
li.active a{
    background-color:#c8d7ee;
    color: black;
}
.each-info-tab{
    background-color: #e8e7e7;
}
.cursor-pointer{
    cursor: pointer;
}
.top-div{
    width: fit-content;
    margin-top: 5rem;
}
.login-component{
    display: flex;
    justify-content: center;
}
li.login{
    margin-right: 2rem;
}