
.lds-ring {
    display: inline-block;
    // position: relative;
    width: 64px;
    height: 64px;
    top: 48vh;
    left: 51vw;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 6px;
    border: 8px solid #0F62FE;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0F62FE transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    visibility: hidden;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
}

#loader-wrapper-submaincontent {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(0, -50%);
    z-index: 1;
}

.loader-wrapper-submaincontent {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(0, -50%);
}

#loader-spin {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-spin:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-spin:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

.chat-dashboard {
    display: flex;
    flex-wrap: wrap;
}

.left-chat-sidebar {
    width: 22vw;
    background-color: powderblue;
    height: 100vh;
}

.middle-chat-open {
    height: 100vh;
    // width: 78%;
    width: 100% ;

    .chat-open-head {
        background-color: green;
        color: white;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        img {
            margin: 1rem 1rem 1rem 4rem;
        }

        .chat-window-name {
            font-size: 2rem;
        }
    }

    .chat-open-body {
        height: 100%;
        width: 100%;

        .receiver {
            text-align: left;
        }

        .sender {
            text-align: right;
        }
    }
}

.chat-sidebar-head {
    display: flex;
    justify-content: space-around;

    button {
        outline: none !important;
    }
}

.search-box {
    border: none;
    background-color: aliceblue;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 13px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;

    &:focus {
        outline: 1px solid lightblue;
    }
}

.edit-btn:focus {
    outline: none;
}

.sidebar-body {
    padding: 0 13px;
}

.fa-star {
    margin-right: 10px;
}

.img-pinned {
    background-color: black;
    display: inline-block;
    width: 6rem;
    height: 5rem;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.pinned-chat-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;

    span {
        font-size: larger;
    }
}

.fa {
    font-size: large;
}

.head-name {
    margin-bottom: 29px;
}

.fa-ellipsis-vertical {
    font-size: xx-large;
    margin-right: 3rem;
}

.right-chat-setting {
    width: 28%;
    position: fixed;
    margin-left: 72%;
}

.chat-dashboard-w-50 {
    position: fixed;
    width: 50%;
    margin-left: 22%;
}

.right-chat-50 {}

.curser-pointer {
    cursor: pointer;
}

.chat-name-message-div {
    padding: 0 2rem;
    display: grid;
    flex: auto;
    white-space: pre;
    overflow: hidden;
    width: 22rem;
    justify-items: start;
    text-overflow: ellipsis;

    span {
        width: 21rem;
        white-space: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.chat-message-span {
    color: #00000078;
}
.d-flex{
    display: flex;
    .btn { 
        margin-left: 2rem;
    }
}