<div class="chat-dashboard">
    <div class="chat-open-head">
        <div class="chat-window-profile">
            <img src="/assets/images/profile.jpg" alt="" class="img-pinned" />
        </div>
        <div class="chat-window-name">
            <span>Sumit Kurkure</span>
        </div>
        <div class="chat-window-settings">
            <i class="fa fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
    <div class="chat-open-body">
        <div class="receiver">
            <strong>Pooja</strong>
            <span>Hi Sumit</span>
        </div>
        <div class="sender">
            <strong>Sumit</strong>
            <span>Hi Sumit</span>
        </div>
    </div>
    <div class="chat-open-footer">
        <input type="text" placeholder="Enter Messages" name="message" [(ngModel)]="userMessage">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</div>