<div class="chat-dashboard">
    <div class="chat-open-head">
        <div class="chat-window-profile">
            <img src="/assets/images/profile.jpg" alt="" class="img-pinned" />
        </div>
        <div class="chat-window-name">
            <span>Sumit Kurkure</span>
        </div>
        <div class="chat-window-settings">
            <i class="fa fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
    <div class="chat-open-body">
    <div class="receiver">
        <span>Hi Sumit</span>
    </div>
    <div class="sender">
        <span>Hi Sumit</span>
    </div>
    </div>
</div>